
<app-header></app-header>

<main>
  <section class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">

      <div class="col-lg-8 col-md-6 py-8 py-xl-0">
        <!-- Card -->
        <div class="card shadow ">
          <!-- Card body -->
          <div class="card-body p-6">
            <div class="mb-4">

              <h1 class="mb-1 fw-bold">Sign in</h1>
              <span>Don’t have an account? <a routerLink="/signup" href="sign-up.html" class="ms-1">Sign up</a></span>
            </div>
            <!-- Form -->
            <form [formGroup]="loginForm" *ngIf="!authResponse.mfaEnabled">
              	<!-- Username -->
              <div class="mb-3" [class.error]="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">
                <label for="email" class="form-label" >Username or email</label>
                <input formControlName="email" type="email" id="email" class="form-control" name="email" placeholder="Email address here"
                  required>
              </div>
              <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')" class="text-danger">
                Email is required
              </small>
              	<!-- Password -->
              <div class="mb-3" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                <label for="password" class="form-label">Password</label>
                <input  formControlName="password" type="password" id="password" class="form-control" name="password" placeholder="**************"
                  required>
              </div>
              	<!-- Checkbox -->
              <div class="d-lg-flex justify-content-between align-items-center mb-4">
                <div class="form-check">
                  <input formControlName="password" type="checkbox" class="form-check-input" id="rememberme">
                  <label class="form-check-label " for="rememberme">Remember me</label>
                </div>
                <div>
                  <a href="forget-password.html">Forgot your password?</a>
                </div>
              </div>
              <div>
                	<!-- Button -->
                  <div class="d-grid">
                <button (click)="Onlogin()" routerLink="/home"  type="submit" class="btn btn-primary ">Sign in</button>
              </div>
              </div>
              <hr class="my-4">
              <div class="mt-4 text-center">
                <div class="d-flex justify-content-center">
                  <!--Facebook-->
                  <a href="#" class="btn-social btn-social-outline btn-facebook">
                    <i class="mdi mdi-facebook fs-4"></i>
                  </a>
                  <!--Twitter-->
                  <a href="#" class="btn-social btn-social-outline btn-twitter">
                    <i class="mdi mdi-twitter fs-4"></i>
                  </a>
                  <!--LinkedIn-->
                  <a href="#" class="btn-social btn-social-outline btn-linkedin">
                    <i class="mdi mdi-linkedin"></i>
                  </a>
                  <!--GitHub-->
                  <a href="#" class="btn-social btn-social-outline btn-github">
                    <i class="mdi mdi-github"></i>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="container" *ngIf="authResponse.mfaEnabled">
          <h2>Two-Factor Authentication</h2>
          <div class="form-group">
            <label for="validationCode">Enter 6 digits Validation Code Generated by the app</label>
            <input
              type="text"
              id="validationCode"
              name="validationCode"
              required
              [(ngModel)]="otpCode"
            >
          </div>
          <button type="button" (click)="verifyCode()"
                  [class.button-disabled]="otpCode.length < 6"
          >Verify code</button>
        </div>
      </div>
    </div>
  </section>
</main>

